.navBar{
    display: flex;
    list-style: none;
    justify-content:space-between;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(126, 126, 126);
    border: 1px solid red;
    border-radius: 30px;
    
}

.textDisplay{
    text-align: center;
}

.center{
    margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.linear{
    display: inline-flex;
    margin:0px;
    
}
.linear li{
    list-style: none;
    margin: 5px;
    cursor: pointer;
    color: aliceblue;
}